.slider-container {
    position: relative;
    padding: 50px;
    display: flex;
    flex-wrap: nowrap;
    scrollbar-width: none;
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.card {
    margin-right: 10px;
    height: max-content;
    width: max-content;
    background: #101010;
    transition: transform .4s ease; 
    position: relative;
    border-radius: 5px;
}

.slider-image {
    border-radius: 10px;
}

.data {
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    background: linear-gradient(360deg , rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);
    transition: all 300ms ease 100ms;
}

.card-movie-name {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.card-release-date {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.dummy {
    display: block;
    width: 50px; 
    opacity: 0;
}

.slider-container-wrappper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.direction-arrow {
    cursor: pointer;
    position: absolute;
    border: none;
    color: white;
    width: 50px;
    height: 100%;
    background: rgba(10, 10, 10, 0.5);
    transition: all 300ms ease 100ms;
    z-index: 2;
}

.next {
    top: 0;
    right: 0;
}

.prev {
    top: 0;
    left: 0;
}

.arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: border all 300ms ease 100ms;
}

.arrow-left {
    transform: rotate(-135deg);
}

.arrow-right {
    transform: rotate(45deg);
}

@media (hover: hover) {

    .slider-container:hover .card {
        transform: translateX(-10%);
    }

    .slider-container .card:hover ~ .card {
        transform: translateX(10%);
    }

    .slider-container .card:hover {
        transform: scale(1.2);
    }

    .card:hover .data {
        opacity: 1;
        height: 60%;
    }

    .direction-arrow:hover .arrow {
        border-top: 2px solid #ff5252;
        border-right: 2px solid #ff5252;
    }

}

@media (max-width : 599px) {

    .slider-container {
        padding: 20px;
    }

    .dummy{
        display: none;
    }

    .card {
        margin-right: 20px;
    }

    .direction-arrow {
        display: none;
    }

    .data {
        opacity: 1;
        height: 60%;
    }
}