.season-head {
    margin: 0;
    cursor: pointer;
    width: max-content;
}

.season-head-number {
    margin: 20px;
    cursor: pointer;
}

.season-selector {
    overflow: hidden;
    width: 95vw;
}

.season-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

.episode-head {
    margin: 10px;
}

.synopsis-episode{
    font-size: 1.2em;
}

.episode-still {
    grid-area: img;
    border-radius: 10px;
}

.episode-info {
    grid-area: info;
    padding-left: 20px;
}

.episode-hand-emoji {
    font-size: 0.8em
}

.season-card {
    width: 90vw;
    background: #000;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
        "img info";
    align-items: center;
    justify-content: center;
}

.season-number-card {
    width: 90vw;
    background: #000;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 0) and (max-width: 600px) {

    .season-selector {
        width: 90vw;
    }

    .season-wrap {
        width: 90vw;
    }

    .right-align-text {
        text-align: right;
    }

    .episode-info {
        padding-left: 0;
    }

    .episode-still {
        display: none;
    }

    .season-card {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas:
            "info"
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .episode-still {
        display: none;
    }

    .season-card {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas:
            "info"
    }
}