.remove {
    position: absolute;
    right: 10px;
    font-size: 2em;
}

.spinner-user {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2em;
}