.details-1 {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 80vw;
    position: relative;
    margin-top: 0;
}

.center-details {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.9) 40%, rgba(16, 16, 16, 0.7) 80%, rgba(16, 16, 16, 0.5) 90%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.car {
    width: 80vw;
    display: grid;
    grid-auto-columns: max-content 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
        "pos info";
}

.poster {
    grid-area: pos;
    align-self: center;
}

.poster-main {
    border-radius: 10px;
}

.movie-main-info {
    grid-area: info;
    align-self: center;
}

.heading-details {
    margin: 0;
}

.synopsis {
    font-size: 1.2em;
    padding-left: 20px;
    line-height: 1.5;
}

.movie-main-details {
    width: 80vw;
    display: grid;
    grid-template-columns: 50vw 30vw;
    grid-template-rows: max-content max-content;
    grid-template-areas: 
        "cast_crew details"
        "trailer details";
}

.cast_crew {
    grid-area: cast_crew;
}

.cast {
    width: 50vw;
}

.card-r {
    background: #000;
}

.cast-name {
    padding-left: 10px;
    margin: 0;
    margin-bottom: 5px;
}

.trailer {
    grid-area: trailer
}

.all-movie-details {
    grid-area: details
}

.video-slider {
    width: 50vw;
}

.video-card {
    width: max-content;
    height: max-content;
    margin-right: 20px;
}

.video {
    width: 45vw;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}



.details-main {
    padding-left: 40px;
    width: 30vw;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-areas: 
        "rating"
        "runtime"
        "language"
        "country"
        "genre"
        "production"
        "budget" 
        "box-office";
    justify-items: flex-start;
    align-items: center;
}

.genre__tag {
    display: inline;
    background: #ff5252;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: 10px;
    margin-right: 20px;
}

.tags {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 1.2em;
}

.details-main p {
    width: max-content;
    margin: 0;
}

.genre {
    grid-area: genre;
}

.rating {
    grid-area: rating;
}

.runtime {
    grid-area: runtime;
}

.country {
    grid-area: country;
}

.language {
    grid-area: language;
}

.production {
    grid-area: production;
}

.recommend-heading-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend-heading {
    width: 80vw;
}

@media (max-width : 768px) {

    .details-1 {
        padding: 0;
        background: none !important;
        width: 90vw;
    }

    .center-details {
        background-image: none;
    }

    .car {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100vw;
        justify-items: center;
        grid-auto-columns: 1fr;
        grid-auto-rows: max-content 1fr;
        grid-template-areas: 
            "pos"
            "info";
    }

    .movie-main-info {
        margin-top: 30px;
        width: 90vw;
    }

    .heading-details {
        padding-left: 5px;
    }
    
    .synopsis{
        padding-left: 0;
        word-spacing: 5px;
        line-height: 1.5;
    }

    .movie-main-details {
        width: 100vw;
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas: 
            "cast_crew"
            "trailer"
            "details";
    }

    .video-slider {
        width: 100vw;
    }
    
    .video {
        width: 80vw;
    }

    .cast {
        width: 100vw;
    }

    .details-main {
        padding-left: 0;
        width: 100vw;
        grid-auto-columns: 100vw;
    }

    .tags {
        width: 90vw;
    }

    .recommend-heading {
        width: 100vw;
    }
}