.home {
    overflow-x: hidden;
}

.home-heading {
    margin: 0;
    width: max-content;
}

.heading {
    padding-left: 20px;
}

.home-width {
    width: calc(100vw - 20px);
    margin-top: 50px;
    margin-bottom: 50px;
}

.heading-see-more {
    display: inline;
    text-decoration: none;
    font-size: 0.8em;
    padding-left: 20px;
}

.card {
    margin-right: 10px;
    height: max-content;
    width: max-content;
    background: #101010;
    transition: transform .4s ease; 
    position: relative;
    border-radius: 5px;
}

.card-image {
    border-radius: 10px;
}

.fav {
    position: absolute;
    font-size: 2em;
    right: 10px;
    top: 0px;
    z-index: 1;
    margin: 0;
}

.data {
    position: absolute;
    width: 100%;
    bottom: 3px;
    opacity: 1;
    height: 70%;
    background: linear-gradient(360deg , rgba(10,10,10,1) 0%, rgba(10,10,10,0) 100%);
    transition: all 300ms ease 100ms;
    border-radius: 10px;
}

.card-movie-name {
    position: absolute;
    bottom: 25px;
    left: 10px;
}

.card-release-date {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.card-celeb-name {
    position: absolute;
    bottom: 0;
    left: 10px;
}

@media (max-width : 599px) {
    .home-width {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .card {
        margin-right: 20px;
    }
}