.home {
    overflow-x: hidden;
}

.home-heading {
    font-size: 3em;
    margin: 0;
    width: max-content;
}

.heading {
    padding-left: 20px;
}

.home-width {
    width: calc(100vw - 20px);
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width : 599px) {
    .home-width {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
}