.header-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

.header {
    width: 100%;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 150px 1fr max-content 80px;
    grid-template-areas: "logo search user menu";
    justify-content: flex-start;
}

.logo {
    grid-area: logo;
    height: 60px;
    width: 120px;
}

.logo-position {
    justify-self: center;
    align-self: center;
}

.svg-icon-menu {
    width: 70px;
    height: 70px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ff5252;
}

.svg-icon circle {
    stroke: #ff5252;
    stroke-width: 1;
}

.ham {
    width: 80px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: menu;
    justify-self: flex-end;
    z-index: 101;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ff5252;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #101010;
    color: #ff5252;
    z-index: 100;
}

.menu-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-item {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    margin: 10px;
    padding: 5px 10px;
    color: #ff5252;
    text-transform: uppercase;
    background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #ff5252 50%
    );
    background-size: 250%;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.user-btn {
    font-size: 2em;
}

.profile-pic {
    widows: 70px;
    height: 70px;
    border-radius: 50%;
    grid-area: user;
    justify-self: center;
    align-self: center;
    position: relative;
    cursor: pointer;
    z-index: 201;
}

.profile-pic-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.user-sec {
    grid-area: user;
    justify-self: center;
    align-self: center;
}

.user-sec a {
    display: inline;
}

@media (hover: hover) {
    .menu-item:hover {
        background-position: 100%;
        color: #fff;
        transform: translateX(10px);
    }
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "user logo menu"
            "search search search";
    }

    .user-btn {
        font-size: 1.2em;
    }

    .logo {
        width: 100px;
        height: 50px;
    }

    .logo-position {
        padding: 20px;
    }

    .user-sec {
        display: none;
    }
}

@media (max-width: 599px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "user logo menu"
            "search search search";
    }

    .logo {
        width: 100px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        align-self: center;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        cursor: default;
    }

    .header-wrapper {
        width: auto;
    }

    .ham {
        width: 60px;
        justify-self: flex-end;
        align-self: center;
    }

    .menu-item {
        margin: 10px;
        padding: 5px 10px;
    }

    .profile-pic {
        justify-self: flex-start;
        align-self: center;
        width: 50px;
        height: 50px;
    }

    .profile-pic-image {
        width: 50px;
        height: 50px;
    }

    .user-sec {
        display: none;
    }

    .logo-position {
        padding: 0;
    }
}
