.header-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

.header {
    width: 100vw;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content;
    grid-template-areas:
        "logo search";
    align-content: center;
    justify-content: flex-start;
}

.logo {
    grid-area: logo;
    height: 75px;
    width: 150px;
}

.svg-icon-menu {
    width: 70px;
    height: 70px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ff5252;
}

.svg-icon circle {
    stroke: #ff5252;
    stroke-width: 1;
}

@media (max-width : 599px) {

    .header {
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
        grid-template-areas:
            "logo" "search";
    }

    .logo {
        height: 60px;
        width: 120px;
        margin-bottom: 30px; 
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        cursor: default;
    }

    .header-wrapper {
        width: auto;
    }
}