*:focus {
    outline: #ff5252;
}

html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    position: relative;
    background: #101010;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100%;
    font-family: 'Numans', sans-serif;
}

.app {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 68px;
}

img {
    overflow: hidden;
    font-size: 8px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    font-family: 'Imprima', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-family: 'Imprima', sans-serif;
}

h3 {
    font-size: 1.5em;
    font-family: 'Imprima', sans-serif;
}

h4 {
    font-size: 1em;
    font-family: 'Imprima', sans-serif;
}

h5 {
    font-size: 1em;
    font-family: 'Imprima', sans-serif;
}

.color-orange {
    color: #ff5252;
}

a {
    display: block;
}

a:active, a:visited, a:hover, a:link {
    color: #fff;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
    background: #000;
}

.circle {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: #ff5252;
    color: #fff;
}

a {
    text-decoration: none;
}

@media (max-width : 600px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3{
        font-size: 1em;
    }
    h4 {
        font-size: 0.8em;
    }
    h5 {
        font-size: 0.5em;
    }
}